/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
#messages {
display: none;
}

/* ****************** Home **************** */
.front .panel-separator {
	margin: 0;
	height: 0px;
}

.front #zone-content-wrapper {
	height: 720px;
}

.front .panels-flexible-region-8-left {
	float: left;
	width: 24.7575%;
	margin-left: 73px;
}

.front .panels-flexible-region-8-left, .front .panels-flexible-region-8-right {
	margin-top: 187px;
}

.front .panels-flexible-region-8-center {
	float: left;
	width: 37%;
	margin: 22px 28px 0 0;
}

/*Left Column*/
.front a.enter.login,.front a.enter.logout {
	margin-left: 30px;
	background: url(../images/home_sprite.png) no-repeat 0 5px;
}

.front a.enter.login:hover,.front a.enter.logout:hover {
		background: url(../images/home_sprite.png) no-repeat 0 -46px;
}

/*center col*/
.front .pane-page-logo {
	height: 165px;
	padding: 27px 0;
}

.front #logo {
	width: 241px;
	display: block;
	margin: 10px auto;
}

/*left col rollover effect*/
.front .view-display-id-panel_pane_2 {
	margin-top: 24px;
	position:relative;
	width: 249px;
	height: 253px;
	overflow: hidden;
}

.front .view-display-id-panel_pane_2 .views-field-field-translations {
	height: 253px;
	width: 249px;
	position:absolute;
	top:0;
	left:0;
	background-color: #000;
	opacity: .7;
	padding: 25px 15px;
}

.front .views-field-field-translations ul li a, .front .views-field-field-translations ul li {
	font: 30px/1 georgia,serif;
	margin: 0;
}

.front .views-field.views-field-field-poet {
	margin-bottom: 30px;
}

.front .views-field-field-translations ul li.views-row-2 a, .front .views-field-field-translations ul li.views-row-2 {
	font: 14px/13px georgia, serif;
	width:90%;
}

/*top rollover effect*/
.front .view-display-id-panel_pane_1 {
	position:relative;
	width: 406px;
	height: 215px;
	overflow: hidden;
}

.front .view-display-id-panel_pane_1 .views-field-field-translations {
	width: 406px;
	height: 215px;
	position:absolute;
	top:0;
	left:0;
	background-color: #000;
	opacity: .7;
	padding: 25px 15px;
}

/*right col rollover effect*/
.front .view-display-id-panel_pane_3 {
	margin-top: 24px;
	position:relative;
	width: 249px;
	height: 253px;
	overflow: hidden;
}

.front .view-display-id-panel_pane_3 .views-field-field-translations {
	height: 253px;
	width: 249px;
	position:absolute;
	top:0;
	left:0;
	background-color: #000;
	opacity: .7;
	padding: 25px 15px;
}

.front .views-field-field-translations ul li a, .front .views-field-field-translations ul li {
	font: 30px/1 georgia,serif;
	margin: 0;
}

.front .views-field.views-field-field-poet {
	margin-bottom: 30px;
}

.front .views-field-field-translations ul li.views-row-2 a, .front .views-field-field-translations ul li.views-row-2 {
	font: 14px/13px georgia, serif;
	width:90%;
}

/*Bottom Rollover*/
.front .view-display-id-panel_pane_4 {
	position:relative;
	width: 406px;
	height: 146px;
	overflow: hidden;
}

.front .view-display-id-panel_pane_4 .views-field-field-translations {
	width: 406px;
	height: 146px;
	position:absolute;
	top:0;
	left:0;
	background-color: #000;
	opacity: .7;
	padding: 25px 15px;
}

/*Home CTA*/

.front a#home-browse, .front a#home-submit {
	background-image: url(../images/home_sprite.png);
	background-repeat: no-repeat;
	width: 233px;
	height: 38px;
	display: block;
	text-indent: -99999px;
	margin-top: 28px;
}

.front a#home-browse {
	background-position: 0px -104px;
	margin-left: 8px;
}

.front a#home-submit {
	background-position: 0px -150px;
	margin-right: 2px;
}


/* ************* Basic Page ******************** */

.node-type-page .region-content-inner {
	background: url(../images/content_bg.jpg) left bottom repeat;
	padding: 10px 30px;
}



/* ************* Browse Page ******************** */
.page-browse #section-content{
	padding-top: 30px;
}

.view-id-browse_for_nodes table {
	width: 100%;
}

.view-id-browse_for_nodes td {
	overflow: hidden;
	padding-bottom: 35px;
}

.view-id-browse_for_nodes .col-1 {
	width: 47.5%;
	padding-right: 4%;
}

/*list-item content*/
.view-id-browse_for_nodes .views-field-field-image {
	float: left;
	margin-right: 15px;
	-moz-box-shadow: 1px 1px 3px 0 #333;
	-webkit-box-shadow: 1px 1px 3px 0 #333;
	box-shadow: 1px 1px 3px 0 #333;
	height: 110px;
}

.view-id-browse_for_nodes .views-row {
	text-shadow:1px 1px 4px #333;
	font-size: 13px;
	line-height: 1.4;
}

.view-id-browse_for_nodes .views-row-1 {
	margin: 18px 0 10px;
}

.views-row-1 .views-field-field-poem-title {
	font-weight: bold;
	font-size: 13px;
}

.views-field-field-translations li {
	list-style:none;
	color: #fff;
}

.views-field-field-translations li a {
	text-decoration: none;
	color: #fff;
}

.view-browse-poem-fields .views-row-2 {
	direction: rtl;
	width: 66%;
	text-align: right;
}

/*Search Form*/
#browse-block-switcher {
	width: 230px;
	margin:20px 0 2px -70px;
	overflow: hidden;
}
#browse-block-switcher .browse-switcher,#browse-block-switcher .browse-switcher.active {
	color: #fff;
	font-family: "georgia", serif;
}

#browse-switcher-english {
	float: left;
	font-size: 13px;
}

#browse-switcher-urdu {
	float: right;
	font-size: 13px;
}

.browse-block {
	padding: 15px 21px;
	background: #ccc url(../images/browse_form_bg.jpg) repeat-x 0 0;
	border-top: 1px solid #8e8e8e;
	color: #000;
	width: 190px;
	margin-left: -70px;
}

.browse-block-show-me {
	text-transform: uppercase;
	color: #999;
	font-size: 14px;
	margin: 5px 0 9px;
	display: block;
}

.browse-block a {
	color: #000;
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 6px 0;
}

.browse-block .active a {
	font-weight: bold;
}

.browse-block .show-listing {
	border-bottom: 1px solid #8e8e8e;
} 

.browse-block a span.show-count {
	float: right;
}

#english-search-form, #urdu-search-form {
	margin: 25px 0;
}

span.filter-form-title {
	text-transform: uppercase;
	font-size: 10px;
}

.views-exposed-form select.form-select {
	width: 195px;
}

.views-exposed-form .views-submit-button input[type="submit"]{
	background: transparent url(../images/browse_search_button.png) no-repeat center 0;
	width: 62px;
	height: 30px;
	border: 0 none;
	text-indent: -9999999px;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius:2px;
}